/* Starter decorations */

a {
    color: #222;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}


/* Avatar and name design */

.avatar {
    width: auto;
    height: auto;
    padding: 20px 5px 0px 5px;
    align-items: center;
}

.oter_name {
    font-size: 1.2em;
    font-weight: 500;
}

.citation a:hover {
    color: #db3737;
}


/* Links design */

.contacts li a {
    font-weight: 300;
    transition: none;
}

.contacts li a * {
    transition: color 0.2s ease-in-out;
}

.contacts li a i {
    font-size: 1.2em;
}

.facebook:hover * {
    color: #273a91;
}

.mail:hover * {
    color: #d1b518;
}

.twitter:hover * {
    color: #34a7ca;
}

.instagram:hover * {
    color: #d52e8c;
}


/* Timeline */

.timeline a {
    color: #666;
}

.timeline a:hover {
    color: #db3737;
    text-shadow: 0px 0px 6px #f79c9c;
}